.DS_Store
src/sink/out/
src/sink/pifout/
src/sink/*.list
src/sink/*.obj
src/transit_hop/out/
src/transit_hop/pifout/
src/transit_hop/*.list
src/transit_hop/*.obj
src/wire/out/
src/wire/pifout/
src/Makefile-nfp4build

src/traffic-generator/traces/*
!src/traffic-generator/traces/.keep

src/host/*.o
src/host/host_reader

src/tcpreplay.log
