.DS_Store
sink/out/
sink/pifout/
sink/*.list
sink/*.obj
transit_hop/out/
transit_hop/pifout/
transit_hop/*.list
transit_hop/*.obj
wire/out/
wire/pifout/
Makefile-nfp4build
evaluation/*.txt
evaluation/*.csv
evaluation/eviction/*.csv
evaluation/event/*.csv
evaluation/entry_update/*.csv

traffic-generator/traces/*
!traffic-generator/traces/.keep

host/*.o
host/host_reader

tcpreplay.log
